<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars Viewer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
    <div class="filters">
        <form method="GET" action="/" class="search-form">
            <input 
                type="text"
                name="search"
                placeholder="Search by car name..."
                value="{{.Filters.Search}}"
            >

            <button type="submit">Search</button>
            <a href="/">Reset</a>
        </form>

        <details class="advanced-filter">
            <summary>Advanced filtering</summary>

            <form method="GET" action="/" class="advanced-form">


                <select name="manufacturer">
                    <option value="">Any manufacturer</option>
                    {{range .ManufacturerOptions}}
                        <option value="{{.}}" {{if eq . $.Filters.Manufacturer}}selected{{end}}>
                            {{.}}
                        </option>
                    {{end}}
                </select>

                <select name="country">
                    <option value="">Any country</option>
                    {{range .CountryOptions}}
                        <option value="{{.}}" {{if eq . $.Filters.Country}}selected{{end}}>
                            {{.}}
                        </option>
                    {{end}}
                </select>

                <select name="category">
                    <option value="">Any category</option>
                    {{range .CategoryOptions}}
                        <option value="{{.}}" {{if eq . $.Filters.Category}}selected{{end}}>
                            {{.}}
                        </option>
                    {{end}}
                </select>

                <input 
                    type="number" 
                    name="minYear" 
                    placeholder="Min year" 
                    value="{{.Filters.MinYear}}"
                >

                <select name="engine">
                    <option value="">Any engine</option>
                    {{range .EngineOptions}}
                        <option value="{{.}}" {{if eq . $.Filters.Engine}}selected{{end}}>
                            {{.}}
                        </option>
                    {{end}}
                </select>

                <input 
                    type="number" 
                    name="minHorsepower" 
                    placeholder="Min horsepower" 
                    value="{{.Filters.MinHorsepower}}"
                >

                <select name="transmission">
                    <option value="">Any transmission</option>
                    {{range .TransmissionOptions}}
                        <option value="{{.}}" {{if eq . $.Filters.Transmission}}selected{{end}}>
                            {{.}}
                        </option>
                    {{end}}
                </select>

                <select name="drivetrain">
                    <option value="">Any drivetrain</option>
                    {{range .DrivetrainOptions}}
                        <option value="{{.}}" {{if eq . $.Filters.Drivetrain}}selected{{end}}>
                            {{.}}
                        </option>
                    {{end}}
                </select>

                <button type="submit">Apply filters</button>
                <a href="/">Clear filters</a>
            </form>
        </details>
    </div>
    <a class="logo" href="/">
        <h1>Cars Viewer</h1>
    </a>
    <div class="cars-grid">
        {{range .Mains}}
            <div class="car-card">
                <a href="/specifications/{{.ID}}">
                <img class="home-image"
                    src="http://localhost:3000/api/images/{{.Image}}" 
                    alt="{{.Name}}" 
                    width="300"
                >
                </a>
                <h2>{{.Name}}</h2>

                <div class="info-row">
                    <span class="label">Year</span>
                    <span>{{.Year}}</span>
                </div>
                
                <div class="info-row">
                    <span class="label">Manufacturer</span>
                    <span>{{.ManufacturerName}}</span>
                </div>
                
                <div class="info-row">
                    <span class="label">Country</span>
                    <span>{{.ManufacturerCountry}}</span>
                </div>
                
                <div class="info-row">
                    <span class="label">Category</span>
                    <span>{{.CategoryName}}</span>
                </div>
                
            <a href="/specifications/{{.ID}}" class="button">Specifications</a>
            </div>            
        {{end}}
    </div>
</div>
</body>
</html>