<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars Viewer</title>
</head>
<form method="GET" action="/" class="search-form">
    <input 
        type="text"
        name="search"
        placeholder="Search by car name..."
        value="{{.Filters.Search}}"
    >

    <button type="submit">Search</button>
    <a href="/">Reset</a>
</form>

<details class="advanced-filter">
    <summary>Advanced filtering</summary>

    <form method="GET" action="/" class="advanced-form">


        <select name="manufacturer">
            <option value="">Any manufacturer</option>
            {{range .ManufacturerOptions}}
                <option value="{{.}}" {{if eq . $.Filters.Manufacturer}}selected{{end}}>
                    {{.}}
                </option>
            {{end}}
        </select>

        <select name="country">
            <option value="">Any country</option>
            {{range .CountryOptions}}
                <option value="{{.}}" {{if eq . $.Filters.Country}}selected{{end}}>
                    {{.}}
                </option>
            {{end}}
        </select>

        <select name="category">
            <option value="">Any category</option>
            {{range .CategoryOptions}}
                <option value="{{.}}" {{if eq . $.Filters.Category}}selected{{end}}>
                    {{.}}
                </option>
            {{end}}
        </select>

        <input 
            type="number" 
            name="minYear" 
            placeholder="Min year" 
            value="{{.Filters.MinYear}}"
        >

        <select name="engine">
            <option value="">Any engine</option>
            {{range .EngineOptions}}
                <option value="{{.}}" {{if eq . $.Filters.Engine}}selected{{end}}>
                    {{.}}
                </option>
            {{end}}
        </select>

        <input 
            type="number" 
            name="minHorsepower" 
            placeholder="Min horsepower" 
            value="{{.Filters.MinHorsepower}}"
        >

        <select name="transmission">
            <option value="">Any transmission</option>
            {{range .TransmissionOptions}}
                <option value="{{.}}" {{if eq . $.Filters.Transmission}}selected{{end}}>
                    {{.}}
                </option>
            {{end}}
        </select>

        <select name="drivetrain">
            <option value="">Any drivetrain</option>
            {{range .DrivetrainOptions}}
                <option value="{{.}}" {{if eq . $.Filters.Drivetrain}}selected{{end}}>
                    {{.}}
                </option>
            {{end}}
        </select>

        <button type="submit">Apply filters</button>
        <a href="/">Clear filters</a>
    </form>
</details>

<body>
    <h1>Cars Viewer</h1>

    {{range .Mains}}
        <div style="border: 1px solid #ccc; padding: 15px; margin: 15px;">
            <img 
                src="http://localhost:3000/api/images/{{.Image}}" 
                alt="{{.Name}}" 
                width="300"
            >
            <h2>{{.Name}}</h2>

            <p><strong>Year:</strong> {{.Year}}</p>

            <p><strong>Manufacturer Name:</strong> {{.ManufacturerName}}</p>
            <p><strong>Manufacturer Country:</strong> {{.ManufacturerCountry}}</p>
            <p><strong>Category Name:</strong> {{.CategoryName}}</p>
            <a href="#" class="button">Specifications</a>
        </div>
    {{end}}
</body>
</html>